<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{article.heading}}</title>
  </head>
  <h1>{{article.heading}}</h1>
  <p>Written by: <a href="{% url 'author' article.author.id %}">{{article.author.name }}</a> <br>
    Published on {{article.pub_date.date}}<br>
    Views: {{article.view_count}}
  </p>
  <p>{{article.text}}</p>
  {% if article.picture %}
    <img src="{{ article.picture.url }}" alt="a picture" style="max-width:500px">
  {% endif %}
  <hr>
  <h2>Comments</h2>
  <b>Add Comment:</b>
  <form action="{% url 'comment' article.id %}" method="post">
    {% csrf_token %}
    <label for="heading">Heading:</label>
    <textarea id="heading" name="heading" maxlength="150" required></textarea><br>
    <label for="comment">Text:</label>
    <textarea id="comment" name="comment" maxlength="5000" required></textarea><br>
    <button type="submit" value="Comment">Post Comment</button>
  </form>

  {% for comment in comments %}
    <p><b>{{comment.heading}}</b><br>
      {{comment.text}}<br>
    <small>posted: {{comment.pub_date}}</small></p>
  {% endfor %}

</html>
