{% include 'base.html' %}
<!-- Form to sort and filter articles -->
<form action="{% url 'articles:index'%}" method="get">
  <label for="article-sort">Sort by:</label>
  {% csrf_token %}
  <select name="article-sort" id="article-sort", onchange='if(this.value != 0) { this.form.submit(); }'>
    {% for option_value in sort_options %}
      <option value="{{ option_value }}" {% if sort_order == option_value %} selected {% endif %}>{{ option_value }}</option>
    {% endfor %}
  </select>
  <label for="article-filter">Filter by:</label>
  <select name="article-filter" id="article-filter", onchange='if(this.value != 0) { this.form.submit(); }'>
    <option value="None" {% if filt == None %} selected {% endif %}>None</option>
    {% for filter in filters %}
      <option value="{{ filter }}" {% if filt == filter.text %} selected {% endif %}>{{ filter }}</option>
    {% endfor %}
  </select>
</form>

<!-- Show articles -->
{% if articles_list %}
<div class="col-md-6">
  <div>
    {% for article in articles_list %}
    <a href="{% url 'articles:article' article.id %}">
    <div class="card">
      <div class = "card-header">
        <h2 class="card-title">{{ article.heading }}</h2>
        <h6 class="card-subtitle mb-2 text-body-secondary"> {{ article.pub_date }} Views: {{ article.view_count }}</h6>
      </div>
      <div class="card-body">
        <p> {{ article.preview }} </p>
      </div>
      {% if article.tags.all %}
       <div class="card-footer">
         Tags:
            {% for item in article.tags.all %}
              {{ item.text }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
       </div>
      {% endif %}
    </a>
  </div>
  <br>
  {% endfor %}
</div>
{% else %}
    <p>No Articles are available.</p>
{% endif %}
</div>
