{% include 'base.html' %}

<form action="{% url 'index'%}" method="get">
  <label for="sort">Sort by:</label>
  {% csrf_token %}
  <select name="sort" id="sort", onchange='if(this.value != 0) { this.form.submit(); }'>
    {% for option_value in sort_options %}
      <option value="{{ option_value }}" {% if sort_order == option_value %} selected {% endif %}>{{ option_value }}</option>
        {% endfor %}
    </select>
</form>

{% if authors_lst %}
<div>
  {% for author in authors_lst %}
  <ul>
    {% if author.picture %}
    <li><img src="{{ author.picture.url }}" alt="{{ author.name }}'s Picture"
    style="width: 100px; height: 100px; border-radius: 50%;  margin-left:
           20px;">
      {% else %}
            <div style="width: 100px; height: 100px; border-radius: 50%; margin-left: 20px; background-color: black;"></div>
          {% endif %}

      <h3> <a href="{% url "author"  author_id=author.pk %}">{{ author.name}}</a></h3>



  <br> </li>

  </ul>

  {% endfor %}
</div>

{% else %}

<p> No Authors yet, be the first to publish!</p>

{% endif %}
